* I believe that we have learnt list and dictionary data structures when we were learning python. Now, we want to learn how to use both list and dictionaries for creating Pandas Series and DataFrames.


**Creating a Pandas Series**

To do anything with pandas, the first thing to do is to import the pandas library as an alias.

* importing pandas package
```c
import pandas as pd
```

* Creating pandas series
```c
series = pd.Series(data)
```

* Creating pandas DataFrame
```c
dataframe = pd.DataFrame(data)
```

In [9]:
# Create a Pandas Series

# Step 1: Import pandas package

import pandas as pd

# Step 2: Define a list 
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Step 3: Create a series and a dataframe
# series = pd.Series(data)
series = pd.Series(data)

# View the series that you created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
# Confirm if the series has been created
type(series)

pandas.core.series.Series

In [11]:
# Create a series ussing the same list, but add serial numbers
series2 = pd.Series(data, index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
# Create a series using python dictionary

# Create a python dictionary
data2 = {"a":10, "b":20, "c":30}

# Create the series
series3 = pd.Series(data2)
series3.head()

a    1
b    2
c    3
dtype: int64

__________________________________________________
**Hands on practice**:
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._
________________________________________________

In [14]:
# TASK 1
# Create a bucket list
bucket_list = ["laptop", "smartphone", "charger", "headphone", "keyboard", "monitor"]

# Convert the list to pandas series
series_list = pd.Series(bucket_list, index = ["a", 'b', 'c', 'd', 'e', 'f'])
print(series_list)


# TASK 2
# Create a python dictionary of your biodata with 5 keys and their corresponding values
biodata = {'name': "Adelegan Deborah",
           "Track":" AI Engineering",
           "Country": "Nigeria",
           "State": "Ogun State",
           "City": "Abeokuta"}

# Convert the dictionary to a Pandas series
biodata_series = pd.Series(biodata)

print(biodata_series)

a        laptop
b    smartphone
c       charger
d     headphone
e      keyboard
f       monitor
dtype: object
name       Adelegan Deborah
Track        AI Engineering
Country             Nigeria
State            Ogun State
City               Abeokuta
dtype: object

**Creating a DataFrame**


  ```c
  import pandas as pd
  ```
* Create your list of list or dictionary
```c
data = []
#or
data = {}
```
* Create the dataframe using this syntax
```c
df = pd.DataFrame(data)
```

In [5]:
# Create a DataFrame
# Step 1: Import pandas

import pandas as pd

# Define the data using the dictionary that is having values as a list

data = {
    'Name': ['Chris', 'Ayo', 'Christian'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Create the dataframe using df as short for dataframe
df = pd.DataFrame(data)
df.head()

        Name  Age Home_Town
0      Chris   26     Benin
1        Ayo   24    Ibadan
2  Christian   22     Enugu

In [7]:
# Do the same thing by using a list of dictionaries
data3 = data2 = [
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town' : 'Enugu'}
]

#Define the dataframe
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [8]:
# Do the same thing using list of lists

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]

df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [9]:
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**HANDS ON PRACTICE**

### B. Data Input and Output:

**To read in datasets we use**
```c
pd.read_csv() # for csv files
```

```c
pd.read_excel() # for excel files
```
**Note**: There are many other methods for reading in different data files based on their extensions. we have .json, .txt, .sql, .html etc. If you are curious you could check them out.


**To save into csv file or excel file**

```c
df.to_csv()

```
To save to excel
```c
df.to_excel()
```
Usecase example
```c
bio_data.to_csv("bio_data.csv", index = False)
```

Here, we would download our generated data in csv format and in excel format. Then load it using the `pd.read_csv()`

Then we would inspect and explore the data.

In [ ]:
import pandas as pd
import warnings

In [14]:
df = pd.read_csv('biodata.csv')
df.head(5)

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

To inspect our dataset we will beusing the following python methods
```c
.head() # To view the first 5 rows
```

```c
.tail() # To view the last 5 rows
```

```c
.info() # To check the information about the data
```

```c
.describe() # statistical summary
```

```c
.shape # Check the dimension of the dataset
```

```c
.columns # for checking the column names
```

In [12]:
# To inspect the head
df.head(20)

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025/09/11 12:58:55 PM GMT+1,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025/09/11 12:59:00 PM GMT+1,Kanyisola,Fagbayi,AI;Data Science,Lagos,Female,00082,HP,Windows,One chin chin for you for this form
8,2025/09/11 12:59:16 PM GMT+1,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025/09/11 12:59:28 PM GMT+1,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025/09/11 12:59:41 PM GMT+1,Deborah,Adelegan,AI;Data Science,Abeokuta,Female,001,HP,Windows,None for now
11,2025/09/11 12:59:43 PM GMT+1,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\n\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good

In [15]:
# To check the last 20 entries
df.tail(20)

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\n\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025/09/11 1:01:44 PM GMT+1,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025/09/11 1:01:46 PM GMT+1,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025/09/11 1:01:54 PM GMT+1,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025/09/11 1:02:28 PM GMT+1,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025/09/11 1:02:49 PM GMT+1,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,Bello,AI,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand
26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all
27,2025/09/11 1:03:12 PM GMT+1,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025/09/11 1:03:36 PM GMT+1,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil

In [16]:
# To check the information about the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

In [17]:
# To check the statistical summary
df.describe()

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
count,34,34,34,34,34,34,34,34,34,34
unique,33,33,34,7,11,2,31,10,3,32
top,2025/09/11 12:58:55 PM GMT+1,Samuel,Okonmah,AI,Abeokuta,Male,2,HP,Windows,None for now
freq,2,2,1,24,22,26,2,19,27,3

In [18]:
# To check the dimension of the dataset
df.shape

(34, 10)

In [19]:
# To check for the column names
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

### D. Data Cleaning

 Data cleaning involves identifying and handling errors or inconsistencies in your dataset. Later in this course, data cleaning would be handled in datails.

Handling Missing Values

```c
.isna() or .isnull() # Check for missing values
```

```c
.isna().sum()  # Check the total number of all missing values
```

```c
.fillna() # Fill up missing values
```

```c
.dropna() # Drop missing values
```

Finding and Handling Duplicates

Duplicated are repeated rows or columns.

```c
df.duplicated() # This checks if there are duplicates
```

```c
df.drop_duplicated() # This is use for dropping the duplicate  values

Correcting Data Types

In pandas there are two main types of datatypes, "integer" and "Object"

You can check data type using
```c

df.dtype()
```

To convert the type of perform type casting, you use

```c
df.astype() # this takes in the datatype you want to convert it to as an argument
```

When working with time or time series dat its important to convert the time to pandas recognized time using

```c
pd.to_datatime() # takes in the data column as an argument
```

In [20]:
# Check if there are missing values
df.isna()

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False

In [21]:
# Using .isnull() to check again
df.isnull()

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False

In [24]:
# Using isna.sum() to check the total number of missing values
df.isna().sum()

Timestamp       0
First Name      0
Last Name       0
Course Track    0
City            0
Gender          0
Seat Number     0
PC-Make         0
PC - OS         0
Feedback        0
dtype: int64

### Data Selection and Filtering

Viewing data column

In [28]:
df_column = ['First_Name', 'Last_Name', 'Course_Track', 'City', 'Gender', 'Seat_Number', 'PC_Make', 'PC_OS', 'Feedback' ]
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

Column Selection

In [ ]:
# Look through a single column
df[['First Name']]

       First Name    Last Name
0           Peter      Okonmah
1        Toyeebat       Nababa
2       Perpetual      Meninwa
3          Mahfuz  Abdulhameed
4          Divine    Gbadamosi
5      Abdulmalik     Adedotun
6        Naheemot      Adebiyi
7       Kanyisola      Fagbayi
8        Blessing        James
9          Hannah     Tanimola
10        Deborah     Adelegan
11         Esther       Kudoro
12        Opeyemi      Odejimi
13    Olasunkanmi        Rasak
14         Saheed     Olayinka
15       Kehinde      Akindele
16        Oluwole      Oludayo
17         Samuel     Oyewusi
18        Ademola    Akinrinde
19         Victor    Ademuyiwa
20         Sherif  Okemakinde
21          Ayuba         Raji
22          Hamid        Jimoh
23        Olajide       Abioye
24        Solomon       Olaiya
25  Oluwadamilare        Bello
26      Oluwaseyi     Egunjobi
27         Adeoye         Mary
28      Babatunde       Rahmon
29         Samuel      Dasaolu
30        Gabriel     Bamgbose
31    Ridwanullah         Osho
32    Oluwapelumi      Adenuga
33        Michael      Osisami

In [33]:
# Look through multiple columns
df[['First Name', 'Last Name']]

       First Name    Last Name
0           Peter      Okonmah
1        Toyeebat       Nababa
2       Perpetual      Meninwa
3          Mahfuz  Abdulhameed
4          Divine    Gbadamosi
5      Abdulmalik     Adedotun
6        Naheemot      Adebiyi
7       Kanyisola      Fagbayi
8        Blessing        James
9          Hannah     Tanimola
10        Deborah     Adelegan
11         Esther       Kudoro
12        Opeyemi      Odejimi
13    Olasunkanmi        Rasak
14         Saheed     Olayinka
15       Kehinde      Akindele
16        Oluwole      Oludayo
17         Samuel     Oyewusi
18        Ademola    Akinrinde
19         Victor    Ademuyiwa
20         Sherif  Okemakinde
21          Ayuba         Raji
22          Hamid        Jimoh
23        Olajide       Abioye
24        Solomon       Olaiya
25  Oluwadamilare        Bello
26      Oluwaseyi     Egunjobi
27         Adeoye         Mary
28      Babatunde       Rahmon
29         Samuel      Dasaolu
30        Gabriel     Bamgbose
31    Ridwanullah         Osho
32    Oluwapelumi      Adenuga
33        Michael      Osisami

In [34]:
# To select more columns
df[['First Name', 'Last Name', 'Feedback']]

,First Name,Last Name,Feedback
0,Peter,Okonmah,non
1,Toyeebat,Nababa,Excellent
2,Perpetual,Meninwa,Thank you so much for the opportunity.
3,Mahfuz,Abdulhameed,Amazing Shit
4,Divine,Gbadamosi,Brain Racking
5,Abdulmalik,Adedotun,Enjoying the course so far
6,Naheemot,Adebiyi,Grateful for the opportunity to be here.
7,Kanyisola,Fagbayi,One chin chin for you for this form
8,Blessing,James,Thanks for creating the form.
9,Hannah,Tanimola,On God
10,Deborah,Adelegan,None for now
11,Esther,Kudoro,Chill
12,Opeyemi,Odejimi,Na wa
13,Olasunkanmi,Rasak,My gratitude to the sponsor of this program an...
14,Saheed,Olayinka,None for now
15,Kehinde,Akindele,Great
16,Oluwole,Oludayo,Good training to attend
17,Samuel,Oyewusi,Satisfactory
18,Ademola,Akinrinde,Awesome shit\n\n
19,Victor,Ademuyiwa,Feels good
20,Sherif,Okemakinde,Form filled
21,Ayuba,Raji,None for now
22,Hamid,Jimoh,I am curious
23,Olajide,Abioye,"So far, i getting to familarize myself with nu..."
24,Solomon,Olaiya,Delighted learning here
25,Oluwadamilare,Bello,Coding is interesting when you understand
26,Oluwaseyi,Egunjobi,Nice to meet you all
27,Adeoye,Mary,Still processing
28,Babatunde,Rahmon,i actually have a pc that has a very low stora...
29,Samuel,Dasaolu,"Good so far, i guess"
30,Gabriel,Bamgbose,Good
31,Ridwanullah,Osho,IT IS WHAT IT IS !!!
32,Oluwapelumi,Adenuga,live yours
33,Michael,Osisami,Nil

Cell Selection

In [41]:
# Select a single cell

df['First Name'][0]     # This will return the first value of the First Name column

# trying another method for the selection using the at function
df.at[1, 'First Name']

# using the iat function also for cell selection
df.iat[0, 1]        # This will return the first value of the column (row 0, column1)

'Peter'

Row Selection

`iloc` is used to select rows/columns or rows and column using index slicing.
This is very useful especially when the dataset does not have labels(that is, row names and column names)

In [ ]:
# To select some rows
df.iloc[0:5]        # This is to select from index 0 to 5

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

In [43]:
# combination of row and column selection
df.iloc[0:5, 0:3]       #The first slice picks the rows and the second slice picks the columns

                      Timestamp First Name    Last Name
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi

___________________________________________________
**Hands on practice**

Find out when and how to use the `.loc` attribute. And apply it to the dataset.

Conditional Filtering

In [48]:
# Filter rows where Gender is 'Female'. This is going to return a dataframe
filtered_male = df[df['Gender'] == 'Male']
print('Rows where Gender is \'Male\':\n')
filtered_male

Rows where Gender is 'Male':

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
9,2025/09/11 12:59:28 PM GMT+1,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\n\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025/09/11 1:01:44 PM GMT+1,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025/09/11 1:01:46 PM GMT+1,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025/09/11 1:01:54 PM GMT+1,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025/09/11 1:02:28 PM GMT+1,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025/09/11 1:02:49 PM GMT+1,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,Bello,AI,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand
26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all
28,2025/09/11 1:03:36 PM GMT+1,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil